.whiteText {
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000;
}

.para {
	font-size: 15px;
	text-shadow: 0.2px 0.5px 0 #000, -0.2px -0.5px 0 #000, 0.2px -0.5px 0 #000,
		-0.2px 0.5px 0 #000;
}

.computer-icon-btn {
	cursor: pointer;
}
